<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ page.meta_description | default: page.description }}">
        {% assign keywords = page.keywords | concat: site.common_keywords %}
        <meta name="keywords" content="{{ keywords | join: ',' }}">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <!-- Open Graph -->
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ page.meta_title | default: page.title }}">
        <meta property="og:description" content="{{ page.meta_description | default: page.description }}">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:site_name" content="{{ site.name }}">
        <meta property="og:image" content="https://joshbeard.com/assets/img/joshbeard-opengraph.png"/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="630"/>

        <title>
            {{ site.name }}
            {% if page.url != "/" %}
              -
              {{ page.meta_title | default: page.title }}
              {% if page.layout == "post" %}
                  {% if page.title %}
                  - {{ page.title }}
                  {% endif %}
              {% endif %}
            {% endif %}
        </title>

        {% assign color_scheme = site.color_scheme | default: "retro" %}
        <link href="{{ '/assets/css/color-schemes/' | append: color_scheme | append: '.css' | relative_url | bust_cache }}" rel="stylesheet" />
        <link href="{{ "/assets/css/styles.css" | relative_url | bust_cache }}" rel="stylesheet" />
        <link href="{{ "/assets/fa/css/all.min.css" | relative_url | bust_cache }}" rel="stylesheet" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    </head>

    <body>
        <div id="container">
            <div id="header" class="{{ header_class | default: header_default }}">
                <h1><a href="/">Josh Beard</a></h1>
            </div>
