.git-metadata/
.jekyll-cache
/_site
/dist/
.sass-cache
.env-local
.env
.bundler/

/**/*.jpg
/**/*.jpeg
/src/photos/**/*.jpg
/src/photos/**/*.jpeg
/src/photos/**/*.png
/src/photos/**/*.gif
/src/photos/**/*.gmi
/src/photos/**/gophermap
/src/screenshots/**/*.jp?g
/src/screenshots/**/*.png