---
layout: page
class: image-page
---
{% assign image_alt = page.description | markdownify | strip_html | strip_newlines | escape %}
<div class="image-wrap">
<div class='image-page'>
	<div class='image-nav image-nav-prev'>
		{% if page.prev_url %}
		<a class="nav prev-button" href="{{ page.prev_url }}"><i class="fas fa-fw fa-circle-left"></i></a>
		{% endif %}
	</div>
	<div class="image-container">
		<a href="{{ page.img_src }}"><img src="{{page.img_src}}" class="img_full" alt="{{ page.album_name }} - {{ image_alt }}" /></a>
    </div>
	<div class='image-nav image-nav-next'>
		{% if page.next_url %}
		<a class="nav next-button" href="{{ page.next_url }}"><i class="fas fa-fw fa-circle-right"></i></a>
		{% endif %}
	</div>
</div>
</div>
<div class="image-description">
	{{ page.description | markdownify }}
</div>
<div class="image-foot">
	<a href="/photos">Photos</a>&nbsp;&raquo;&nbsp;<a href="{{ page.album_url }}">{{ page.album_name }}</a>{% if page.source_album_url and page.source_album_name %}&nbsp;&raquo;&nbsp;<a href="{{ page.source_album_url }}">{{ page.source_album_name }}</a>{% endif %}&nbsp;&raquo;&nbsp;<a href="{{ page.img_src }}">{{ page.img_filename | default: page.title }}</a>
</div>
