---
layout: page
class: album-list
---
<!-- <h2>Photos</h2> -->
{% assign all_photos_page = site.pages | where: 'page_type', 'all_photos' | first %}
{% if all_photos_page %}
<p class="photos-all-link"><a href="{{ all_photos_page.url }}">View All Photos</a></p>
{% endif %}
<div class="album-list">
    {% assign sorted = site.pages | sort: 'title' | reverse %}
    {% for page in sorted %}
        {% if page.page_type == 'album' %}
            {% if page.hidden %}{% continue %}{% endif %}
            <div class="album-in-list">
                <a href="{{ page.url }}" class="album-in-list-link">
                    <div class="album-in-list-image">
                    {% if page.images %}
                        {% if page.key_image_data %}
                            <img src="{{ page.key_image_data.thumb }}" class="img-thumb" alt="{{ page.description }}" />
                        {% else %}
                            <img src="{{ page.images[0].thumb }}" class="img-thumb" alt="{{ page.description }}" />
                        {% endif %}
                    {% endif %}
                    </div>
                    <div class="album-in-list-title">
                        <span>{{ page.title }}</span>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
